/*CSS RESET*/
body, h1, dl, dd, span, hr, #print-license {
  margin: 0;
  padding: 0;
}

/*GENERAL STYLING*/
body #print-license {
  font-family: sans-serif;
  color: #383737 !important;
}

#print-license {
  background-image: url('/img/border.png') !important;
  background-repeat:p no-repeat !important;
  background-size: cover !important;
  background-color: #fff !important;
  width: 800px;
  height: 1235px !important;
  -webkit-print-color-adjust: exact !important;
}

/*HEADING OF REGISTRATION FORM*/
#print-license .head {
  height: 30% !important;
}

#print-license .head img {
  width: 40% !important;
  margin: 80px 280px 8px;
}

#print-license .head h1 {
  font-family: sans-serif, Verdana, serif;
  font-size: 60px;
  text-align: center;
  font-weight: normal;
  margin-top: 10px;
  color: black !important;
}

#print-license .form-body {
  height: 40% !important;
  margin-top: 60px;
  font-size: 50px !important;
}

#print-license .form-body dl {
  width: 80%;
  margin: auto;
  font-style: bold;
  margin-bottom: 30px;
  font-size: 30px !important;
}

#print-license .form-body dd {
  position: relative;
  overflow: hidden;
  height: 42px;
  font-family: sans-serif;
  color: #383737 !important;
}

#print-license .form-body dd span {
  position: absolute;
  border-bottom: 1px solid gray;
  padding-left: 12px;
  margin-left: 5px;
  color: #6f6f6f !important;
  width: 450%;
  font-family: sans-serif;
}

/*FORMAT FOR LAST REGISTRATION FIELD*/
#print-license .form-body dl#from {
  width: 39%;
  margin-left: 10%;
  float: left;
}

#print-license .form-body dl#to {
  width: 39%;
  margin-right: 10%;
  float: right;
}

/*STAMP STYLING*/
#print-license img.stamp {
  position: absolute;
  width: 180px;
  left: 350px;
  bottom: 160px;
}

/*SIGNATURE*/
#print-license img.signature {
  position: absolute;
  width: 180px;
  left: 140px;
  bottom: 125px;
}
