@font-face {
   font-family: "Lato Black";
   src: url('../../../../public/fonts/lato/Lato-Black.ttf');
}

@font-face {
   font-family: "Lato MediumItalic";
   src: url('../../../../public/fonts/lato/Lato-MediumItalic.ttf');
}
