/* CSS declarations go here */
.mt-0 {
  margin-top: 0 !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}


.mb-0 {
  margin-bottom: 0 !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}



.mr-0 {
  margin-right: 0 !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.fa {
  margin-right: 5px !important;
}

.homeButtons {
  padding: 15px;
  margin: 30px !important;
}

.btn {
  border-radius: 2px !important;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
  text-transform: capitalize;
}

.emailTemplate {
  @media only screen and (max-device-width: 480px) {
    font-size: 20px !important;
  }
  font-size: inherit !important;
}

.emailTemplate a {
  color: inherit !important;
  font-size: inherit !important;
  text-decoration: none !important;
}

section.card {
  margin: 0 25%;
  border: 1px solid #dddddd;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 2px 2px rgba(224, 224, 224, 1);
  -moz-box-shadow: 0px 2px 2px 2px rgba(224, 224, 224, 1);
  box-shadow: 0px 2px 2px 2px rgba(224, 224, 224, 1);
}

.list-group-item {
  color: #787878 !important;
  border: 1px solid #ecf0f5 !important;
}

.badge {
  background-color: transparent !important;
  color: #9b9b9b !important;
}

span.profile-dept {
  text-transform: capitalize !important;
}

.griddle-container {
  border-radius: 3px !important;
}

.info-box {
  border-radius: 3px !important;
}